<div class="content-wrapper">
  <div class="row">
    <% @images.each do |image| %>
      <div class='image-tile col-xs-12 col-sm-4 col-lg-3'>
        <%= link_to(image) do %>
          <div class="image-tile-image overlay" style="border-radius: 5px; background-image: url(<%= image.img %>); background-size: cover; height: 20vh;">

          </div>
        <% end %>
        <div class="image-interactions">

          <%= link_to '<span class="glyphicon glyphicon-plus"></span>'.html_safe, image_path(image), :data => {:method => 'patch'} %>
          <span><%= image.upvotes %> upvotes | <%= time_ago_in_words(image.created_at) %> ago</span>
        </div>
        <br>
      </div>
    <% end %>

  </div>

</div>


<script>
  $('document').ready(function() {
    $('.image-tile').each(function() {
      $(this).hover(function() {
        $('image-interaction').toggle();
      })
    })
  });

</script>
