
<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
  <img src="<%= @current_image.img %>" alt="" />
  <% if @user %>
  <hr>
    <%= form_for [@current_image, @caption] do |f| %>
      <%= f.text_field(:text, {:class => 'form-control'}) %>
      <br>
      <%= f.submit(:class => 'btn') %>
    <% end %>
  <hr>
  <% end %>
  <ul class="caption-ul">
    <% @current_image.captions.each do |caption| %>

      <li> <%= caption.text %>
        <br>
      <div class="caption-content">
        posted by <%= User.find(caption.user_id).email %> <%= time_ago_in_words(caption.created_at) %> ago
        <a href="#" class='caption-reply-button'>reply</a>
        <div class='caption-reply-form'>
          <%= form_for [caption, @caption] do |f| %>
            <%= f.text_field(:text, {:class => 'form-control'}) %>
            <%= f.submit(:class => 'btn', :value => 'Reply') %>
          <% end %>
        </div>
      </div>
       <ul class="caption-ul">
         <% caption.captions.each do |reply| %>
          <li> <%= reply.text %> </li>
         <% end %>
       </ul>

      </li>
      <hr>
    <% end %>

  </ul>
  <!--  captions here -->
</div>
