
<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-12 col-lg-offset-0">
  <img src="<%= @current_image.img %>" alt="" />
  <% if @user %>
  <hr>
    <%= form_for [@current_image, @caption] do |f| %>
      <%= f.text_field(:text, {:class => 'form-control'}) %>
      <br>
      <%= f.submit(:class => 'btn') %>
    <% end %>
  <hr>
  <% end %>
  <ul class="caption-ul">
    <%= captions_tree_for(@current_image.captions.ranking) %>
  </ul>
</div>

<script charset="utf-8">
  $(document).ready(function() {
    $('.caption-reply-button').each(function() {
      $(this).click(function(event) {
        event.preventDefault();
        $(this).next().toggle();
      });
    });
  });

</script>
